html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.closeButton {
    top: 3px;
    right: 3px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    display: block;
    position:absolute;
    font-size: 12px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1.1;
    border-radius: 50%;
    color: black;
    background: rgb(255, 215, 0);
}

.regionLabel {
    left: 1px;
    bottom: 0;
    display: block;
    padding: 0 3px;
    z-index: 10;
    position: absolute;
    font-size: 0.7em;
    font-weight: bold;
    font-family: sans-serif;
    user-select: none;
    text-transform: uppercase;
    color: black;
    background: rgb(255, 215, 0);
}

.inputLabel {
    border: none;
}

.inputLabel:focus {
    border: none;
}

.wavesurfer-handle {
    width: 1px !important;
    background-color: rgba(255, 215, 0) !important;
}

.wavesurfer-region {
    z-index: 5 !important;
}

audio {
    margin-top: 10px;
}

timeline {
    margin-bottom: 10px;
}

cursor {
    border-right-color: #aaa !important;
}

showtitle div {
    color: #fff;
    padding: 2px;
    position: relative;
    font-size: 10px;
    visibility: visible !important;
    font-family: sans-serif;
    background-color: #444;
}
